<launch>

  <node
    pkg="track_sys"
    type="camera_node.py"
    name="camera_node"
    output="screen"
  />
  <node
    pkg="track_sys"
    type="detector_node.py"
    name="detector_node"
    output="screen"
  />

  <node
  pkg="track_sys"
  type="cropper_node"
  name="cropper_node"
  output="screen" >

    <rosparam file="$(find track_sys)/config/config_cropper.yaml"/>

  </node>


</launch>